body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.cal_container {
    width: 300px;
    height: 260px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.screen {
    display: flex;
    margin: 32px 0 10px 0;
}

.form_input {
    flex: 1;
    text-align: right;
    padding: 8px 0;
    font-size: 22px;

}

.cal_buttons {
    display: flex;
    justify-content: space-between;
}
.cal_btn {
    padding: 6px 6px;
    margin: 6px 6px;
    font-size: 18px;
    background-color: #eaeaea;
    cursor: pointer;
    flex: 1;
    border: 1px solid;
}

.cal_btn:hover {
    background-color: darkgray;
}





